@import '../../style/index.scss';

$notification-indicator-prefix-cls: $hui-prefix + '-notification-indicator';

.#{$notification-indicator-prefix-cls} {
  display: inline-flex;
  cursor: pointer;

  width: 32px;
  height: 32px;
  align-items: center;
  justify-content: center;
  animation: all 1s ease;

  &:hover {
    transform: scale(1.2);
  }
}
