.component {
  flex: 1 1;

  .reply {
    color: rgba(0, 0, 0, 0.45);

    &:hover {
      color: rgba(0, 0, 0, 0.55);
    }
  }

  :global {
    .ant-pagination-item-active {
      background: unset !important;
      border: unset !important;
      border-color: unset !important;
    }

    .ant-comment-nested {
      margin-bottom: 10px;
    }
  }
}

.commentAction {
  padding-left: 8px;
  cursor: auto;
}

.content {
  :global(.ProseMirror p) {
    margin-bottom: .4em;
  }
  .editorContent {
    padding: 0;
  }
}

.activeComment {
  background-color: rgba(0, 0, 0, 0.02);
}

.small {
  :global {
    .ant-comment-inner {
      padding: 0;
    }

    .ant-comment-avatar {
      margin-right: 2px;
    }
  }
}

.comment {
  :global {
    .ant-list-item {
      padding: 0 10px;
    }

    .ant-list-item:hover {
      background-color: rgba(0, 0, 0, 0.015);
      border-radius: 2px;
    }
  }
}

.subComments {
  flex: 1 1;

  :global {
    .ant-list-item {
      padding: 5px 0;
      border: none;
    }

    .ant-list-items .ant-list-item:last-child {
      border-bottom: none !important;
    }

    .ant-comment-avatar {
      margin-right: 4px;
    }
  }
}

.pagination {
  margin-top: 10px;
  margin-bottom: 10px;

  :global {
    .ant-pagination-prev:hover .ant-pagination-item-link, .ant-pagination-next:hover .ant-pagination-item-link,
    .ant-pagination-item-active a, .ant-pagination-item:hover a {
      color: rgba(0, 0, 0, 0.85);
      border-radius: 6px;
      background: rgba(0, 0, 0, 0.018);
    }

  }
}
