@import '../../style/index.scss';

$collapse-prefix-cls: $hui-prefix + '-collapse';

.#{$collapse-prefix-cls} {
  .#{$ant-prefix}-collapse {
    background-color: unset !important;

    .#{$ant-prefix}-collapse-item {
      border: unset;

      .#{$ant-prefix}-collapse-header {
        padding-left: 0;
        padding-right: 0;
      }
    }

    .#{$ant-prefix}-collapse-content > .#{$ant-prefix}-collapse-content-box {
      padding: 0 !important;
    }
  }
}
