.editor {
  background-color: #fff;
  padding: 16px;
  display: flex;
  border-top: 1px solid #ebedf1;
  border-bottom: 1px solid #ebedf1;
}

.left {
  margin-right: 8px;
}

.right {
  flex: 1 1;

  .header {
    height: 30px;
    line-height: 30px;
    color: rgba(0, 0, 0, .85);
  }

  .reply {
    color: rgba(0, 0, 0, 0.45);
  }
}
