.editor {
  background-color: #fff;
  padding: 16px;
  display: flex;
  border: 1px solid #ebedf1;
  box-shadow: unset;
  border-radius: 2px;
}

:global(.ant-affix) {
  .editor {
    box-shadow: 1px -1px 4px rgba(0, 0, 0, 0.08);
  }
}

.right {
  flex: 1 1;

  .header {
    display: flex;
    align-items: center;
    padding-bottom: 10px;
    color: rgba(0, 0, 0, 0.85);

    .title {
      margin-left: 4px;
      margin-right: 2px;
      font-weight: 400;
      font-size: 1.1em;
      cursor: pointer;
    }
  }

  .content {
    height: 120px;
  }
}

.reply {
  display: flex;
  align-items: center;
  color: rgba(0, 0, 0, 0.45);
}

.replyButton {
  margin-top: 5px;

  button {
    background-color: rgb(38, 38, 38, 85%);
    color: #fff;
  }

  :global {
    .ant-btn:hover,
    .ant-btn:focus {
      border-color: rgb(38, 38, 38, 85%);
      color: rgb(38, 38, 38, 85%);
    }
  }
}
