@import '../../style/index.scss';

$danmaku-prefix-cls: $hui-prefix + '-danmaku';

.#{$danmaku-prefix-cls} {
  position: relative;

  &--container {
    position: absolute;
    width: 100%;

  }

  &--container-danmaku {

  }

}
