@import '../../style/index.scss';

$video-prefix-cls: $hui-prefix + '-video';

.#{$video-prefix-cls} {
  //color: @video-color;
  --video-color: var(--hui-colorPrimary);

  &-player {
    width: 600px;
    height: 400px;
    margin: 60px auto 0;
  }
}
