.dropdown {
  padding-top: 2px;
  padding-left: 2px;
  margin-left: 2px;

  .selectedValue {
    width: 40px;
    text-align: left;
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #000000;
  }
}

.horizontal > ul {
  display: flex;
  flex-direction: row;
}
