@import '../../style/index.scss';

$promise--UserAvatar-prefix-cls: $hui-prefix + '-promise--UserAvatar';
$promise--UserInfo-prefix-cls: $hui-prefix + '-promise--UserInfo';

.#{$promise--UserAvatar-prefix-cls} {
  .menu {
    width: 256px;
  }
}

.#{$promise--UserInfo-prefix-cls} {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 2px;
  flex-direction: row;
  gap: 6px;

  &-info {
  }

  &-subtitle {
    color: #00000087;
    font-size: 13px;
  }

  &-title {
    font-weight: 400;
    font-size: 1.1em;
  }
}
