@import (reference) '../../mixin.less';
@import (reference) '../../style/index.less';

@comment-editor-prefix-cls: ~'@{hui-prefix}-comment-editor';

.@{comment-editor-prefix-cls} {
  background-color: #fff;
  padding: 14px;
  display: flex;
  border: 1px solid #ebedf1;
  box-shadow: unset;
  border-radius: 2px;
  flex-direction: column;

  &-mini {
    display: none;
  }
}

.@{comment-editor-prefix-cls}-bottom {
  flex: 1 1;

  &-header {
    display: flex;
    align-items: center;
    padding-bottom: 5px;
    color: rgba(0, 0, 0, 0.85);

    &-title {
      margin-left: 4px;
      margin-right: 2px;
      font-weight: 400;
      font-size: 14px;
      cursor: pointer;
    }
  }

  &-content {
    height: 120px;
  }
}

.@{comment-editor-prefix-cls}-bottom-reply {
  display: flex;
  align-items: center;
  color: rgba(0, 0, 0, 0.45);
}

.@{comment-editor-prefix-cls}-bottom-replyButton {
  margin-top: 5px;

  button {
    background-color: rgb(38, 38, 38, 85%);
    color: #fff;
  }

  .ant-btn:hover,
  .ant-btn:focus {
    border-color: rgb(38, 38, 38, 85%);
    color: rgb(38, 38, 38, 85%);
  }
}
